.magneto-ui-candidate-overview-summary {
  &__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: solid 1px #f0f1f3;
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__sub-content {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__text-container {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    &--row {
      flex-direction: row;
    }
    &--column {
      flex-direction: column;
    }
  }
}
