@use '../../../../shared/stylesheets/variables.scss' as v;
.magneto-ui-cities-detail-drawer {
  display: flex;
  align-items: center;
  height: auto;
  &__item-detail-icon {
    margin-right: 0.65em;
  }
  &__item-detail-text {
    margin: 0px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: v.$colors-magneto-neutral;
    &-remote {
      margin-right: 0.5em;
      margin-bottom: 0 !important;
    }
    display: flex;
    &-link {
      display: flex;
      align-items: center;
      a {
        color: v.$colors-magneto-neutral;
        text-decoration: none;
        font-size: 13px;
        margin-right: 0.5em;
        p {
          margin: 0 !important;
        }
      }
      span {
        margin-right: 0.5em;
      }
      a:hover {
        font-weight: bold;
      }
    }
  }
}
