.magneto-ui-candidate-overview {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  &__text {
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    &--size {
      &-xs {
        font-size: 10px;
        line-height: 14px;
      }
      &-sm {
        font-size: 12px;
        line-height: 16px;
      }
      &-md {
        font-size: 14px;
        line-height: 18px;
      }
      &-lg {
        font-size: 16px;
        line-height: 20px;
      }
      &-xl {
        font-size: 18px;
        line-height: 22px;
      }
      &-xxl {
        font-size: 20px;
        line-height: 24px;
      }
    }
    &--weight {
      &-thin {
        font-weight: 100;
      }
      &-extraLight {
        font-weight: 200;
      }
      &-light {
        font-weight: 300;
      }
      &-normal {
        font-weight: 400;
      }
      &-medium {
        font-weight: 500;
      }
      &-semi-bold {
        font-weight: 600;
      }
      &-bold {
        font-weight: 700;
      }
      &-extraBold {
        font-weight: 800;
      }
      &-black {
        font-weight: 900;
      }
    }
    &--color {
      &-gray {
        color: #667688;
      }
      &-black {
        color: #292f37;
      }
    }
    &--link {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    &--function {
      cursor: pointer;
    }
    &-container {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
  }
  &__separation {
    &--none {
      gap: 0;
    }
    &--sm {
      gap: 5px;
    }
    &--md {
      gap: 10px;
    }
    &--lg {
      gap: 15px;
    }
    &--xl {
      gap: 20px;
    }
    &--xxl {
      gap: 25px;
    }
    &--xxxl {
      gap: 30px;
    }
  }
}
