.magneto-ui-comparative-counter {
  font-size: 13px;
  color: #667688;
  font-weight: bold;
  margin: 5px 0px;
  > span {
    font-weight: normal;
    color: #667688;
  }
}
.error-label {
  color: red;
}
