.magneto-ui-candidate-profile-template-profile {
  position: sticky;
  top: 0;
  z-index: 10;
  &__container {
    max-height: calc(100vh - 52px - var(--nav-height, 0px));
    transition: all 0.3s ease-in-out;
    @supports (max-height: 100dvh) {
      max-height: calc(100dvh - 52px - var(--nav-height, 0px));
    }
    > div {
      overflow-y: auto;
      &::-webkit-scrollbar {
        background: #00000026;
        width: 10px;
        &-thumb {
          background: transparent;
          border: none;
          border-color: transparent;
          border-radius: 20px;
          background: #c2c8cf;
        }

        &-button {
          &:vertical {
            &:start:decrement {
              background: transparent var(--custom-scrollbar-thumb-up-background) no-repeat center center;
              min-height: 16px;
            }

            &:end:increment {
              background: transparent var(--custom-scrollbar-thumb-down-background) no-repeat center center;
              min-height: 16px;
            }
          }
        }
      }
    }
  }
}
