@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-login-jobs-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 10px 20px;
  background-color: v.$color-white;
  border-bottom: 1px solid v.$color-tertiary-gray;

  height: 60px;
  @media (min-width: v.$screen-lg) {
    height: 89px;
  }

  &--second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__left-section {
      display: flex;
      align-items: center;
      gap: 10px;
      @media (min-width: v.$screen-xs) {
        gap: 25px;
      }

      button {
        padding: 0px;
      }
      &--company-logo {
        max-width: 80px;
        max-height: 40px;
        object-fit: contain;
        @media (min-width: v.$screen-md) {
          max-width: 115px;
        }
      }
      &--gif {
        display: none;
        display: none;
        @media (min-width: v.$screen-lg) {
          display: block;
          max-width: 130px;
          max-height: 54px;
          object-fit: contain;
        }
        @media (min-width: v.$screen-hd) {
          max-width: 200px;
        }
      }
    }

    &__middle-section {
      display: inherit;
      width: 60%;
      @media (min-width: v.$screen-xl) {
        width: 24%;
      }
      @media (min-width: v.$screen-hd) {
        width: 30%;
      }
      @media (min-width: v.$screen-xxl) {
        width: 40%;
      }
    }

    &__right-section {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      gap: 5px;
    }
  }

  &--third-row {
    display: inherit;
    flex-direction: row;
  }
}

.have-gif {
  width: 50%;
  @media (min-width: v.$screen-hd) {
    width: 60%;
  }
}
