@use '../../../../shared/stylesheets/variables.scss' as v;
@use '../../../../shared/stylesheets/tokens' as t;

@mixin toggleMobileSearchbar {
  &[data-show-mobile-searchbar='true'] {
    top: 0;
  }
  &[data-show-mobile-searchbar='false'] {
    top: -100%;
  }
}

@mixin buttonOpen {
}

@mixin buttonClose {
}

.MobileSearchbarComponent {
  position: fixed;
  left: 0;
  top: t.$scale-min;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.7rem;
  margin: 0;
  background-color: v.$color-white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  z-index: 13;
  overflow: visible;

  form {
    display: inherit;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 1.5rem;
    margin: 19px 20px;
    z-index: 1;
    position: relative;
  }

  input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 0 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: v.$text-color-disable;

    &:not(:placeholder-shown) {
      color: #020202;
    }

    &:focus-visible {
      outline: none;
    }
  }

  .magneto-ui-search-button {
    width: 20px;
    height: 20px;
    padding: 0px;
    border-radius: 0px;
  }

  .magneto-ui-remove-button {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      transform: rotate(45deg);
    }
  }

  .mobile-searchbar-options {
    position: absolute;
    top: t.$scale-full;
    left: t.$scale-min;
    width: t.$scale-full;
    max-height: t.$scale-rem-container-xxs;
    overflow-y: auto;
    background-color: t.$color-grey-50;
    box-shadow: t.$shadow-30;
    padding: t.$padding-sm-2 t.$padding-xl;
    display: flex;
    flex-direction: column;
    gap: t.$gap-xs;
  }

  .mobile-searchbar-option {
    display: flex;
    flex-direction: column;
    gap: t.$gap-xs;
    padding: t.$padding-sm;
    border-radius: t.$radius-xs;
    text-decoration: none;

    &:hover {
      background-color: t.$color-grey-100;
    }

    &__title {
      margin: t.$margin-min;
      font-size: t.$text-md-2;
      font-weight: t.$weight-normal;
      color: t.$color-grey-900;
    }

    &__subtitle {
      margin: t.$margin-min;
      font-size: t.$text-sm-2;
      font-weight: t.$weight-normal;
      color: t.$color-grey-600;
    }
  }

  @include toggleMobileSearchbar;
}

.buttonOpen {
  @include buttonOpen;
}

.buttonClose {
  @include buttonClose;
}
.search-badge {
  background-color: red;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 8px;
  top: 0px;
  border-radius: 50%;
  border: white 2px solid;
  z-index: 1;
}
