.magneto-ui-job-company-logo {
  height: 100%;
  display: flex;
  align-items: center;
  img {
    border-radius: 8px;
    border: 1px solid #f0f1f3;
    width: 58px;
    height: 58px;
    object-fit: contain;
  }
}
