.magneto-ui-candidate-overview-tags {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: solid 1px #f0f1f3;
  }
  &__list {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    > li > span {
      padding: 4px 14px;
    }
  }
  &__item {
    border-radius: 50px;
    background: #0000001a;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-height: 33px;
    min-width: 44px;
  }
}
