@use '../../../../../../../shared/stylesheets/variables.scss' as v;

.drawer-button {
  all: unset;
  cursor: default;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:focus-visible {
    outline: 2px solid v.$color-blue-dark3;
    outline-offset: 2px;
  }
}
