@use '../../../../../../../shared/stylesheets/tokens' as t;

.drawer-button {
  all: unset;
  cursor: default;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:focus-visible {
    outline: 2px solid t.$color-blue-dark-300;
    outline-offset: 2px;
  }
}
