@use '../../../../shared/stylesheets/tokens' as t;

.magneto-ui-similar-jobs {
  display: flex;
  position: relative;
  align-items: center;
  gap: t.$gap-xl;
  padding: t.$padding-xl 0;
  transition: all ease-in-out 0.3s;
  border-radius: 13px;

  p {
    font-size: 14px;
    text-decoration: none;
    color: t.$color-blue-dark-400;
  }

  /* @media (min-width: v.$screen-lg) {
    &:hover {
      background-color: #f4f4fa;
    }

    &:hover &__arrow {
      right: 5px;
    }
  } */

  &__title {
    margin: 0px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    font-size: 14px;
    // color: v.$text-color-black;
  }

  &__info {
    margin: 0px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    transition: right ease-in-out 0.3s;
    opacity: 0.4;
  }
}
