@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-similar-jobs {
  position: relative;
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 10px;
  padding: 12px 30px 12px 5px;
  min-height: 95.52px;
  transition: all ease-in-out 0.3s;
  border-radius: 13px;
  p {
    font-size: 14px;
  }

  @media (min-width: v.$screen-lg) {
    &:hover {
      background-color: #f4f4fa;
    }
    &:hover &__arrow {
      right: 5px;
    }
  }

  &__img {
    width: 70px;
    height: 50px;
    min-width: 70px;
    min-height: 50px;
    @media (min-width: v.$screen-md) {
      width: 90px;
      height: 70px;
      min-width: 90px;
      min-height: 70px;
    }
    background-color: white;
    object-fit: contain;
    border-radius: 4px;
    padding: 5px;
  }
  &__title {
    margin: 0px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
  }
  &__info {
    margin: 0px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
  }
  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    transition: right ease-in-out 0.3s;
    opacity: 0.4;
  }
}
