@import '../../../../shared/stylesheets/tokens';

.job-suggested-card {
  background-color: $color-grey-200;
  border-radius: $radius-md;
  padding: $padding-lg;
  display: flex;
  flex-direction: column;
  gap: $gap-sm;
  transition: all 0.2s;
  max-width: 452px;

  &:hover {
    background-color: $color-grey-50;
    div > button:first-child {
      background-color: $color-grey-50;
    }

    div > button:last-child {
      background-color: $color-blue-dark-300;
      color: $color-grey-50;
    }
  }
}
