@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-nav-menu-analyst-region-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 30px 74px !important;
  @media screen and (max-width: v.$screen-md) {
    > div {
      padding: 0 !important;
      display: flex;
      flex-direction: column;
      gap: 20px;
      > * {
        padding: 0 !important;
      }
    }
  }
  @media screen and (min-width: v.$screen-md) {
    min-width: 620px;
    max-height: 70vh;
    padding: 30px 30px 120px !important;
  }
  > h2,
  > div > h2 {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #0a0c0e;
    margin: 0;
  }
}
