@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-list-menu {
  display: flex;
  flex-direction: column;
  &__title {
    font-weight: bold;
    font-size: 15px;
    margin: 0 0 15px 0;
  }

  &__link {
    color: v.$colors-magneto-neutral;
    font-size: 13px;
    margin: 6px 0;
    &:hover {
      text-decoration: underline;
    }
  }
}
