@use '../../../../shared/stylesheets/variables.scss' as v;

.filter-actions {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;

  &__action {
    padding: 4px !important;
    border-radius: 6px;
    background-color: white;
    color: #0a0c0e;
    > p {
      font-size: 12px;
    }

    &--selected {
      background-color: #1f2329 !important;
      color: white;
    }
  }
}
