@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-tabs {
  padding: 0%;
  &__navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 2.38rem;
    margin-top: 20px;
    &--item {
      min-width: 114px;
      max-width: 10rem;
      cursor: pointer;
      margin: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: v.$text-color-black;
      height: 100%;
      max-height: 2.38rem;
      padding: 0 0.5rem;
      padding: 10px 20px 10px 20px;
      border-radius: 6px;
      gap: 10px;
      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
    &--item.magneto-ui-tabs__navigation--selected {
      background: #d8f3ee;
      border-radius: 6px;
    }
  }
  &__content {
    padding: 1rem;
  }
}
