@use '../../../../../../shared/stylesheets/variables' as v;

.magneto-ui-nav-menu-analyst-divider {
  padding: 10px 20px;
  &__title {
    display: flex;
    gap: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.8px;
    color: v.$color-blue-light3;
    margin: 0;
  }
  > div {
    margin: 0;
    background-color: v.$color-blue-light3;
    opacity: 1;
  }
}
