@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-message {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    z-index: 99999;
    box-shadow: 0px 0px 15px 0px #00000026;
    left: 50%;
    transform: translateX(-50%);
    min-width: 210px;
    max-width: 420px;
    padding: 15px 20px;
    border-radius: 8px;
    border-left: 4px solid;
    color: #292f37;
    font-size: 14px;
    line-height: 17px;
    transition: all var(--transition-duration) ease-in-out;
    width: 90%;
    @media screen and (min-width: v.$screen-md) {
      width: auto;
    }
    &--show {
      visibility: visible;
      opacity: 1;
      top: 30px;
    }
    &--hidden {
      visibility: hidden;
      opacity: 0;
      top: 0;
    }
    &--info,
    &--loading {
      background-color: v.$alert-color-blueBackground;
      border-left-color: v.$alert-color-blue;
    }
    &--success {
      background-color: v.$alert-color-greenBackground;
      border-left-color: #0cbb4e;
    }
    &--warning {
      background-color: v.$alert-color-yellowBackground;
      border-left-color: v.$alert-color-yellow;
    }
    &--error {
      background-color: v.$alert-color-redBackground;
      border-left-color: v.$alert-color-red;
    }
  }
  &__text {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: 400;
    margin: 0;
    &--bold {
      font-weight: 700;
    }
    &:last-child {
      margin-left: 3px;
    }
  }
  &__icon {
    width: 20px;
  }
}
