@use '../../../../../../shared/stylesheets/variables.scss' as v;

.button-summary {
  margin: 10px 0px;
  border: none;
  height: 48px;
  padding: 13px 24px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 18px;
  @media (max-width: v.$screen-sm) {
    width: 100%;
    justify-content: center;
    gap: 30px;
  }
}

.primary {
  background-color: #1a324c;
  color: #ffffff;
  font-weight: 700;
}

.secondary {
  background-color: #f0f1f3;
  color: #0a0c0e;
}
