@use '../../../../../../../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-user-menu-analyst-option-text {
  color: v.$color-blue-dark5;
  padding: 0px 8px 10px;
  > p {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.6px;
  }
}
