@use '../../shared/stylesheets/variables.scss' as v;

@mixin scroll-height($visible) {
  $size: 4px;
  &::-webkit-scrollbar {
    background: transparent;
    width: $size;
    height: $size;
    &-thumb {
      background: transparent;
      border: none transparent;
      border-radius: 4px;
      @if $visible {
        background: #d3d3d3;
      }
      &:hover {
        background: #d3d3d3;
      }
    }
  }
}

@mixin scroll-filter {
  $size: 14px;
  $background: #cfcfde;
  &::-webkit-scrollbar {
    width: $size;
    position: relative;
    &-thumb {
      background: $background;
      border: solid v.$disabled-color-gray 3px;
      border-radius: 20px;
    }
  }
}
