$color-white: #ffffff;
$color-primary-green: #00d461;
$color-green: #70ecd4;
$color-green-hover: #22d3b7;
$color-green-border: #a3e9db;
$color-purple: #4618d2;
$color-purple-hover: #33038d;
$color-purple-border: #b49fff;
$color-blue: #000096;
$color-blue-primary: #090467;
$color-blue-hover: #04004d;
$color-blue-border: #b7b4ff;
$color-border-jobs: #ebe8e8;
$color-blue-light1: #007da9;
$color-blue-light2: #00a7e1;
$color-blue-light3: #66c1ea;
$color-blue-light4: #a3daf2;
$color-blue-light5: #e0f3fb;
$color-blue-dark1: #00162d;
$color-blue-dark2: #001b38;
$color-blue-dark3: #1a324c;
$color-blue-dark4: #334960;
$color-blue-dark5: #667688;
$color-blue-dark6: #99a4af;

$disabled-color-gray: #f0f1f3;
$disabled-color-gray2: #e9e9f6;
$disabled-color-gray3: #9e9e9e;
$dis-color-gray4: #c4c4c4;

$colors-magneto-neutral: #1f2329;
$colors-magneto-neutral-gray-5: #cfcfde;

$color-tertiary-gray: #e9e9f6;

$alert-color-red: #e10000;
$alert-color-redHover: #be0000;
$alert-color-redBorder: #ffc5c5;
$alert-color-yellow: #faad14;
$alert-color-yellowHover: #d99000;
$alert-color-yellowBorder: #ffe6b5;
$alert-color-blue: #0085de;
$alert-color-blueHover: #006fba;
$alert-color-blueBorder: #c3e7ff;

$text-color-black: #14141c;
$text-color-disable: #a3a3b5;
$text-color-blue: #001b38;

$screen-xxs: 375px;
$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-hd: 1366px;
$screen-xxl: 1600px;

$selected-color-item: #cfcfde;
$filter-item-font-color: #667688;

$background-skeleton: #eeeff4;

$pagination-btn-active: #090467;
$pagination-background-btn: #f4f4fa;
$pagination-hover-btn: #cfcfde;
$pagination-size-btn: 34px;
