.magneto-ui-user-menu-analyst-option-hover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  transition: background-color 0.3s ease-in-out;
  border-radius: 6px;
  padding: 5px;
  min-height: 40px;
  > span {
    font-size: 13px;
    line-height: 15.6px;
    flex: 1;
    a {
      padding: 0;
      &:hover {
        background-color: transparent;
      }
    }
  }
  > div:last-child {
    height: 30px;
    width: 30px;
    a,
    button {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-in-out;
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e3e7e9;
      border: none;
      border-radius: 100%;
      cursor: pointer;
      > div {
        width: 16px;
        height: 16px;
      }
    }
  }
  &:hover {
    background-color: #c2c8cf;
    > div {
      a,
      button {
        opacity: 1;
        visibility: visible;
      }
      span {
        pointer-events: none;
      }
    }
    + div {
      visibility: visible;
      opacity: 1;
    }
  }
  + div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    > div {
      > a,
      button {
        height: 30px;
        width: 30px;
        display: grid;
        place-items: center;
        background-color: #e3e7e9;
        border-radius: 100%;
      }
    }
    &:hover {
      visibility: visible;
      opacity: 1;
    }
  }
  &__default {
    padding: 0;
    &:hover {
      background-color: transparent;
    }
  }
}
