.magneto-ui-tag {
  cursor: pointer;
  display: flex;
  padding: 8px 10px;
  align-items: center;
  gap: 5px;
  border-radius: 30px;
  font-size: 12px;
  border: 1px solid #ffffff00;
  transition: all ease-in-out 0.3s;
  word-break: break-word;
  &:hover {
    border: 1px solid #e5e5ff;
  }
  img {
    width: 8px;
    height: 8px;
  }
}
