@use '../../../../../../shared/stylesheets/tokens' as tokens;

.link {
  display: inline-flex;
  align-items: center;
  gap: tokens.$gap-sm;
  margin-top: 20px;
  width: auto;
  min-width: none;
  height: 43px;
  padding: 12px 25px;
  border-radius: 30px;
  gap: 10px;
  text-decoration: none;
  background-color: tokens.$color-grey-100;
  transition: background-color ease-in-out 300ms;
  color: tokens.$color-grey-900;

  @media (min-width: tokens.$screen-lg) {
    &:hover {
      background-color: tokens.$color-grey-200;
    }
  }

  &__icon {
    transform: rotateZ(-90deg);
  }
}
