@import '../../../../shared/stylesheets/variables.scss';

@mixin link {
  color: var(--visited-color, $lightSilver);
  text-decoration: none;

  :hover {
    cursor: pointer;
    color: var(--hover-color, $vibrantGreen);
  }

  :visited {
    color: --visited-color;
  }
}

@mixin link-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: max-content;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: var(--button-color);
  color: var(--text-color);

  p {
    font-style: normal;
    font-weight: $bold;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
  }

  &:hover {
    background-color: $lavenderGray;
  }

  &:visited {
    color: var(--text-color);
  }
}

@mixin link-mobile-button {
  display: flex;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
}

.linkComponent {
  &[data-link-type='link'] {
    @include link;
  }

  &[data-link-type='button'] {
    @include link-button;
  }

  &[data-is-mobile='true'] {
    @include link-mobile-button;
  }
}
