@use '../../../../shared/stylesheets/variables.scss' as v;

@mixin link {
  color: var(--visited-color, v.$dis-color-gray4);
  text-decoration: none;

  :hover {
    cursor: pointer;
    color: var(--hover-color, v.$color-primary-green);
  }

  :visited {
    color: --visited-color;
  }
}

@mixin link-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 32px;
  padding: 10px 2px;
  border: none;
  border-radius: 50px;
  background-color: var(--button-color);
  color: var(--text-color);
  transition: all ease-in-out 0.3s;
  @media (min-width: v.$screen-md) {
    gap: 10px;
    height: unset;
    padding: 10px 20px;
  }

  p {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    margin: 0;
    width: max-content;

    @media (min-width: v.$screen-md) {
      font-size: 14px;
    }
  }

  &:hover {
    background-color: v.$disabled-color-gray;
  }

  &:visited {
    color: var(--text-color);
  }
}

@mixin link-mobile-button {
  display: flex;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
}

.linkComponent {
  &[data-link-type='link'] {
    @include link;
  }

  &[data-link-type='button'] {
    @include link-button;
  }

  &[data-is-mobile='true'] {
    @include link-mobile-button;
  }
}
