@use '../../../../shared/stylesheets/variables.scss' as v;

.mega-menu-cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  gap: 10px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  align-items: center;

  @media (max-width: v.$screen-lg) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  &__filter {
    margin-bottom: 10px;
  }

  &__title {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    h4 {
      font-size: 16px;
      margin: 0px;
      font-weight: 700;
    }
  }

  &__action {
    margin-top: 10px;
    position: sticky;
    bottom: 10px;
    margin-left: auto;
    padding: 10px;
    color: white;
    text-align: center;
    width: calc(100% / 5);
    border-radius: 30px;
    background-color: #1a324c;
    display: flex;
    justify-content: center;

    > p {
      font-size: 14px;
      font-weight: 700;
      color: white;
    }
    @media (max-width: v.$screen-md) {
      width: auto;
    }
  }

  &__action--grey {
    background-color: #f0f1f3;
    border-radius: 6px;
    height: fit-content;
    width: auto;
    padding: 8px 10px;
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: center;
    text-decoration: none;

    @media (max-width: v.$screen-md) {
      justify-content: space-between;
      padding: 6px;
      margin-bottom: 5px;
    }

    p {
      font-size: 13px;
      font-weight: 700;
      color: #0a0c0e;
    }
  }
}
