.magneto-ui--mobile-date-picker {
  display: flex;
  flex-direction: row;
  gap: 10px;

  &__container {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #e3e7e9;

    &--placeholder {
      color: #667688;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &__icon {
      grid-area: 1 / 2 / 1 / 3;
      opacity: 0.4;
      &--disabled {
        grid-area: 1 / 2 / 1 / 3;
        opacity: 0.4;
      }
    }

    &-value {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 8px 12px;
      border-radius: 10px;
      border: 1px solid #e3e7e9;

      &--placeholder {
        &-shrink {
          color: #c2c8cf;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      &__icon {
        opacity: 0.4;
        align-self: center;
        &--disabled {
          align-self: center;
          opacity: 0.4;
        }
      }
    }

    &-disabled {
      display: grid;
      grid-template-rows: 100%;
      grid-template-columns: 1fr;
      width: 100%;
      padding: 12px;
      border-radius: 10px;
      border: 1px solid #e3e7e9;
      background: #e3e7e9;

      &--placeholder {
        color: #667688;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__value {
    grid-area: 2 / 1 / 3 / 2;
    align-self: center;
    margin: 0;
    font-size: 13px;
  }

  &__icon {
    grid-area: 1 / 2 / 1/ 3;
    &--disabled {
      grid-area: 1 / 2 / 1 / 3;
      opacity: 0.4;
    }
  }
}
