@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-filter-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 4px 12px;
  border: none;
  border-radius: 50px;
  box-sizing: border-box;
  margin: 5px 0;
  transition: all ease-in-out 0.3s;
  cursor: pointer;

  &__counter {
    color: #667688;
  }
  @media (max-width: v.$screen-md) {
    width: inherit;
    max-width: 100%;
  }

  & > span,
  & > output {
    font-size: 14px;
    color: #47535f;
  }

  & > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.selected {
  background-color: #f0f1f3;
}

.disabled {
  cursor: auto;

  & > span,
  & > output {
    color: v.$disabled-color-gray3;
  }
}

.isSearched {
  background-color: transparent;
  &:hover {
    background-color: v.$disabled-color-gray;
  }
}

.magneto-ui-filter-item:hover {
  background-color: #f0f1f3;
}

.skeleton {
  display: inline-block;
  width: 230px;
  height: 25px;
  background-color: v.$background-skeleton;
  border: none;
  border-radius: 8px;
  margin: 5px 0 0 10px;
  position: relative;
  overflow: hidden;

  @media (max-width: v.$screen-md) {
    width: inherit;
    max-width: 90%;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 25px;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(#fff, 0) 0, rgba(#fff, 0.2) 20%, rgba(#fff, 0.5) 60%, rgba(#fff, 0));
    animation: shimmer 2s infinite;
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
