.magneto-ui-candidate-profile-quick-access {
  display: flex;
  gap: 20px;
  border-radius: 4px;
  padding: 5px;
  background-color: #1a324c;
  &__section {
    padding: 5px;
  }
  &__group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__item {
    display: grid;
    grid-template-columns: 13px 1fr 100px;
    gap: 5px;
  }
}
