.magneto-ui-candidate-profile__quick-access {
    display: flex;
    gap: 20px;
    border-radius: 4px;
    padding: 5px;
    background-color: #1A324C;

    &-section {

        padding: 5px;
    }

    &-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &-item {
        display: grid;
        grid-template-columns: 13px  1fr 100px;
        gap: 10px;
    }

    &-icon {
        width: 13px;
        height: 13px;
    }

    &-label {
        font-size: 10px;
        line-height: 14px;
        font-weight: 400;
        color: white;
        margin: 0px;
    }

    &-text {
        margin: 0px;
        font-size: 10px;
        line-height: 14px;
        font-weight: 900;
        color: white;
    }

}