@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-suggestedJobs-page {
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow-y: auto !important;

  &--center-row {
    width: 100%;

    @media (max-width: v.$screen-md) {
      width: auto;
    }

    &__jobs-result {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px 10px 20px 10px;
      gap: 2px;
    }
  }
}
