.magneto-ui-title-record {
  background-color: #f0f1f3;
  color: #292f37;
  padding: 8px;
  border-radius: 5px;
  width: auto;
  max-width: 250px;
  display: flex;
  align-items: center;
  gap: 8px;
}
