@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-similar-jobs-section {
  width: 100%;
  height: auto;
  padding: 10px 20px 120px 20px;
  border-top: 1px solid rgb(220, 220, 220);

  &__title {
    margin: 40px 0 20px 0;
    font-size: 17px;
    color: v.$text-color-black;
  }

  &__link {
    display: inline-block;
    margin-top: 20px;
    width: auto;
    min-width: none;
    height: 43px;
    padding: 12px 25px;
    border-radius: 30px;
    gap: 10px;
    background-color: v.$disabled-color-gray;
    transition: background-color ease-in-out 0.3s;
    color: v.$text-color-black;

    @media (min-width: v.$screen-lg) {
      &:hover {
        background-color: v.$disabled-color-gray2;
      }
    }
  }
}
