.magneto-ui-order-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.magneto-ui-order-text {
  font-weight: 600;
  font-size: 15px;
}

.magneto-ui-btn-order {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
