:root {
  --black-bg: rgba(40, 40, 53, 1);
}

.tooltip-container {
  position: relative;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  background-color: var(--black-bg);
  color: white;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 12px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-top .tooltip-text {
  bottom: 106%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-bottom .tooltip-text {
  top: 106%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-left .tooltip-text {
  right: 106%;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip-right .tooltip-text {
  left: 106%;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip-top .tooltip-text::after,
.tooltip-bottom .tooltip-text::after,
.tooltip-left .tooltip-text::after,
.tooltip-right .tooltip-text::after {
  content: '';
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

.tooltip-top .tooltip-text::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: var(--black-bg) transparent transparent transparent;
}

.tooltip-bottom .tooltip-text::after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: transparent transparent var(--black-bg) transparent;
}

.tooltip-left .tooltip-text::after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-color: transparent transparent transparent var(--black-bg);
}

.tooltip-right .tooltip-text::after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-color: transparent var(--black-bg) transparent transparent;
}
