@use '../../../../shared/stylesheets/variables' as v;

.magneto-ui-analyst-template {
  display: flex;
  flex-direction: column;
  height: 100vh;
  @supports (height: 100dvh) {
    height: 100dvh;
  }
  &__container {
    height: calc(100% - 60px);
    display: flex;
    flex-direction: row;
    @media screen and (min-width: v.$screen-md) {
      height: calc(100% - 76px);
    }
  }
  &__children {
    flex: 1;
    height: 100%;
    overflow: auto;
  }
}
