@use '../../../../shared/stylesheets/variables.scss' as v;

.button-link {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: max-content;
  padding: 10px 8px;
  text-decoration: none;
  cursor: pointer;
  gap: 8px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 6px;
  align-items: center;

  &__text {
    margin: 0px;
  }

  &:hover {
    background-color: v.$colors-magneto-neutral-gray-5;
    transition: all ease-in-out 0.3s;
  }
}
