@use '../../../../../../shared/stylesheets/tokens' as *;

.magneto-ui-field-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  position: relative;
  > :not(:last-child) > [data-slot='field-wrapper'] > [data-slot='field-input'],
  > :not(:last-child) > [data-slot='field-wrapper'] > [data-slot='field-trigger'] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  > :not(:first-child) > [data-slot='field-wrapper'] > [data-slot='field-input'],
  > :not(:first-child) > [data-slot='field-wrapper'] > [data-slot='field-trigger'] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  > :not(:first-child):not([data-focused='true'])
    > [data-slot='field-wrapper']
    > [data-slot='field-input']:not([data-error='true']),
  > :not(:first-child):not([data-focused='true'])
    > [data-slot='field-wrapper']
    > [data-slot='field-trigger']:not([data-error='true']) {
    border-left-color: transparent;
  }
  > [data-error='true'] ~ [data-error='true'] > [data-slot='field-wrapper'] > [data-slot='field-input'],
  > [data-error='true'] ~ [data-error='true'] > [data-slot='field-wrapper'] > [data-slot='field-trigger'] {
    border-left-color: transparent;
  }
  &:has([data-slot='field-wrapper'][data-state='non-relative'] [data-slot='field-list'][data-state='visible']) {
    > :first-child > [data-slot='field-wrapper'] > [data-slot='field-input'],
    > :first-child > [data-slot='field-wrapper'] > [data-slot='field-trigger'] {
      border-bottom-left-radius: 0;
    }
    > :last-child > [data-slot='field-wrapper'] > [data-slot='field-input'],
    > :last-child > [data-slot='field-wrapper'] > [data-slot='field-trigger'] {
      border-bottom-right-radius: 0;
    }
  }
}
