.magneto-ui-user-menu-dropdown-analyst {
  > div:first-child {
    > div:first-child {
      border-radius: 10px;
      top: calc(100% + 10px);
      box-shadow: 0px 0px 15px 0px #00000026;
      overflow: visible;
    }
  }
}
