@use '../../../../shared/stylesheets/variables.scss' as v;

.TabComponent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  min-width: 192px;
  max-width: max-content;
  height: 24px;
  padding: 4px;
  border-radius: 8px;
  background-color: v.$disabled-color-gray;
}
