@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-drawer {
  aside {
    background-color: white;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
    z-index: 50;
    transition: all 0.6s ease-in-out;
    overflow-x: hidden;
    overflow-y: auto;

    @media (min-width: v.$screen-md) {
      width: 400px;
    }

    &::-webkit-scrollbar {
      width: 7px;
      border-radius: 15px;

      &-track {
        background-color: rgba(241, 241, 241, 0.353);
        border-radius: 15px;
      }

      &-thumb {
        border-radius: 15px;
        background-color: v.$disabled-color-gray2;
        &:hover {
          background-color: v.$disabled-color-gray3;
        }
      }
    }

    .magneto-ui-close-button {
      position: absolute;
      right: 16px;
      top: 20px;
      background: none;
      border: none;
      cursor: pointer;
      & > :nth-child(1) {
        transform: rotate(45deg);
        width: 25px;
        height: 25px;
      }
      @media screen and (max-width: v.$screen-xxs) {
        right: -4px;
      }
    }
  }
}

.background-drawer {
  position: fixed;
  background-color: black;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 49;
  cursor: pointer;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.7;
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.7;
    }
  }
}

.show-left {
  left: 0;
}

.hidden-left {
  left: -100%;
}

.show-right {
  right: 0;
}

.hidden-right {
  right: -100%;
}

.full-drawer {
  aside {
    @media screen and (max-width: (v.$screen-lg + 32px)) {
      width: 100%;
    }
  }
}
