@use '../../../../../../shared/stylesheets/tokens' as tokens;

.action {
  border: none;
  display: flex;
  align-items: center;
  gap: tokens.$gap-sm;
  text-decoration: none;
  background: transparent;
  font-size: tokens.$text-md-2;
  border-radius: tokens.$radius-lg;
  padding: tokens.$padding-sm tokens.$padding-sm-2;
  transition: all 0.2s;
  &:hover {
    cursor: default;
    transition: background 400ms;
    background: tokens.$color-grey-200;
  }
  &:is(a) {
    &:hover {
      cursor: pointer;
    }
  }

  &--rounded {
    border-radius: tokens.$radius-full;
  }

  &--grey {
    background: tokens.$color-grey-200;
    &:hover {
      background: tokens.$color-grey-300;
    }
  }

  &--ai-job-apply {
    background-color: tokens.$color-grey-50;
    color: tokens.$color-grey-900;
    font-weight: tokens.$weight-bold;
    gap: tokens.$gap-sm-2;
    padding: 13px tokens.$padding-2xl;
    border-radius: tokens.$radius-3xl;
    &:hover {
      cursor: pointer;
      background-color: tokens.$color-blue-dark-500;
    }
  }

  &--ai-job-detail {
    background-color: tokens.$color-grey-200;
    color: tokens.$color-grey-900;
    font-weight: tokens.$weight-bold;
    gap: tokens.$gap-sm-2;
    padding: 13px tokens.$padding-2xl;
    border-radius: tokens.$radius-3xl;
    &:hover {
      cursor: pointer;
      background-color: tokens.$color-grey-100;
    }
  }
}
