@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-mobile-drawer {
  & > aside {
    background-color: white;
    padding: 20px;
    left: 0;
    position: fixed;
    width: 100vw;
    height: auto;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
    z-index: 60;
    transition: all 0.6s ease-in-out;
    border-radius: 20px 20px 0 0;
    .magneto-ui-close-button {
      width: 40px;
      height: 40px;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 10px;
      top: -50px;
      background-color: black;
      border: none;
      cursor: pointer;
      &:nth-child(1) {
        img {
          transform: rotate(45deg);
          width: 30px;
          height: 30px;
          filter: brightness(300%);
        }
      }
    }
    .magneto-ui-container {
      overflow-y: auto;
      height: min-content;
      max-height: 300px;
      @media (min-width: v.$screen-xxs) {
        max-height: 500px;
      }
      @media (min-width: v.$screen-md) {
        max-height: 650px;
      }
      &::-webkit-scrollbar {
        width: 5px;
        border-radius: 15px;

        &-track {
          background-color: rgba(241, 241, 241, 0.353);
          border-radius: 15px;
        }

        &-thumb {
          border-radius: 15px;
          background-color: v.$disabled-color-gray2;
          &:hover {
            background-color: v.$disabled-color-gray3;
          }
        }
      }
    }
  }
}

.background-drawer {
  position: fixed;
  background-color: black;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 59;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.7;
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.7;
    }
  }
}

.show {
  bottom: 0;
}

.hidden {
  bottom: -160%;
}
