@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-chart-bar {
  width: min(4vw, 60px);
  background-color: #a3adb8;
  position: relative;

  &__popover {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
    width: max-content;
    background-color: #292f37;
    color: white;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    bottom: 100%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    margin-bottom: 8px;
  }

  .popover-left {
    left: auto;
    right: 0;
    transform: translateX(-5%);
  }

  .popover-right {
    left: 0;
    transform: translateX(0%);
  }

  &:hover {
    background-color: #1a324c;
  }
}
