.magneto-ui-toggle-button {
  width: auto;
  height: 41px;
  padding: 12px 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: filter ease-in-out 0.3s;
  font-weight: normal;
  border: #e3e7e9 solid 1px;
  &:hover {
    filter: brightness(0.9);
  }
  &__img {
    width: 20px;
    height: 20px;
  }
}

.toggle-button-selected {
  border: none;
  font-weight: bold;
}

.toggle-image-selected {
  filter: brightness(10);
}
