@use '../../../../shared/stylesheets/variables' as v;

.magneto-ui-nav-menu-drawer-analyst {
  &__drawer {
    > aside {
      @supports not (height: 100dvh) {
        padding-bottom: 80px;
      }
      @media screen and (min-width: v.$screen-md) {
        width: 300px;
      }
      > button {
        > img {
          filter: invert(100%) brightness(200%);
        }
      }
    }
  }
}
