@import '../../shared/stylesheets/mixins';
.main-nav {
  display: flex;
  min-height: 64px;
  align-items: center;
  padding: 0 1.25rem;
  font-family: 'Mulish', sans-serif;
  z-index: 2;

  &__logo {
    margin-right: 0.9375rem;
    img {
      max-height: 2.8125rem;
    }
  }

  &__breadcrumbs {
    flex: 1;
    margin: 1rem 0;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__aside-trigger {
    height: 2.8125rem;
    font-size: 1.5rem;
    padding: 4px 20px;
    color: white;
    @media screen and (max-width: 480px) {
      padding: 4px 10px;
    }
  }

  // Trigger
  &__notifications-trigger {
    color: white;
    padding: 0;
    user-select: none;
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
      display: none;
    }

    i {
      font-size: 22px;
    }
  }

  &__notifications-dropdown {
    background-color: white;
    padding: 4px 0;
    min-width: 300px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

    &__toolbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 12px;
      border-bottom: 1px solid #f5f5f5;

      &-title {
        color: black;
        font-size: 14px;
      }

      &-actions {
        a {
          color: #00d461;
        }
      }
    }
    &__items {
      max-height: 300px;
      overflow: auto;
      .notification-container {
        display: flex;
        color: #000;
        padding: 0;
        border-bottom: 1px solid #ededed;
        &.unopened {
          background-color: #aeeec1;
        }
        .notification-icon {
          color: #00d461;
          padding: 10px 15px;
        }
        .notification-desc {
          display: flex;
          align-items: center;
          line-height: 18px;
          b {
            color: #00d461;
          }
        }
      }
    }
  }

  &__user-trigger {
    display: flex;
    align-items: center;
    user-select: none;

    @media screen and (max-width: 768px) {
      margin-left: auto;
    }
    i {
      color: #00d461;
    }

    .la-user-circle {
      font-size: 1.125rem;
    }

    .username {
      color: white;
      padding: 0 5px;
    }
    @media screen and (max-width: 480px) {
      .username {
        white-space: nowrap;
      }
    }
  }

  &__dropdown-user {
    background-color: white;
    padding: 4px 0;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }

  &__aside {
    height: calc(100% - 64px);
    top: 64px;

    .ant-drawer-mask {
      background-color: transparent;
    }
    .ant-drawer-body {
      padding: 0;
      @include scroll-height($visible: true);
    }
    .ant-drawer-content {
      background-color: #13223a;
    }

    &__title {
      color: #00d461;
      line-height: 3rem;
      padding: 0 2rem;
      font-size: 1rem;
      font-weight: 600;
    }

    &__item {
      // line-height: 36px;

      &--new {
        &.ant-ribbon.ant-ribbon-placement-end {
          color: #13223a;
          font-weight: 900;
          box-shadow: 0 0 0 1px #fff0;
          font-size: 14px;
          font-family: 'Mulish', sans-serif;
          right: 8px;
          border-radius: 10px;
        }
        .ant-ribbon-corner {
          display: none;
        }
      }

      a {
        height: 45px;
        color: #fff;
        font-weight: 300;
        font-size: 14px;
        padding: 0.625rem 1.875rem;
        display: flex;
        align-items: center;
        line-height: 1;
        font-family: 'Mulish', sans-serif;

        &:hover {
          background-color: lighten(#13223a, 3%);
        }
      }

      i {
        font-size: 20px;
        margin-right: 8px;
      }
    }
  }
}
