.magneto-ui-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: auto;
  transition: all 0.2s;
}

.magneto-ui-hover {
  transition: all ease-in 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

.magneto-ui-rotate {
  transform: rotate(180deg);
}
