@use '../../../../../../shared/stylesheets/tokens' as *;

.bubble-container {
  display: flex;
}

.bubble-message {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  gap: $gap-xs;
  border-radius: $radius-md;
  background-color: $color-grey-100;
  padding: $padding-sm $padding-md;
}

.message-left {
  justify-content: flex-start;
}

.message-right {
  justify-content: flex-end;
}
