@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-pagination {
  display: flex;
  justify-content: center;
  margin: 2rem 5px;

  &_b2c ul {
    background-color: v.$pagination-background-btn;
  }

  &_b2b ul {
    background-color: v.$color-gray-background;
  }
}

.magneto-ui-pagination ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 3px;
  border-radius: 20px;
  margin: 0 15px;
}

.magneto-ui-pagination ul li {
  display: flex;
}

.magneto-ui-pagination_ellipsis {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 16px;
  margin-bottom: -7px;

  @media screen and (max-width: v.$screen-xs) {
    width: 15px;
    margin-left: -5px;
    margin-right: -5px;
  }
}
