.candidateComments {
  width: 100%;
  text-align: center;
  &_ratings {
    padding: 5px;
    margin: 5px;
    &-title {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &-decription {
      padding: 2px 0 0 50px;
    }
  }
  &_noRatings {
    font-weight: 700;
    font-size: 14px;
    color: #667688;
  }
}
