@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-user-menu-analyst {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: v.$color-white;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  @media screen and (min-width: v.$screen-sm) {
    &::after {
      content: '';
      position: absolute;
      top: -19px;
      right: 14px;
      border: 10px solid transparent;
      border-bottom-color: v.$color-white;
    }
    min-width: 357px;
  }
  &__header {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px;
    background-color: #f4f4fa;
  }
  &__user {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    div > div:first-child,
    div > img {
      width: 32px;
      height: 32px;
    }
  }
  &__user-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 16.8px;
    color: v.$text-color-black;
    &--name {
      font-weight: 700;
    }
    &--mail {
      font-weight: 400;
    }
    &--action {
      a {
        font-size: 12px;
        line-height: 14.4px;
        color: v.$color-blue-dark2;
        p {
          margin: 5px 0 0;
        }
      }
    }
  }
  &__company {
    margin-top: 10px;
    &--empty {
      margin-top: 0;
    }
  }
  &__company-dropdown {
    > div:first-child {
      > span {
        color: #0a0c0e;
      }
    }
    a {
      color: v.$text-color-black;
      padding: 12px 5px;
      &:hover {
        background-color: transparent;
        text-decoration: underline;
      }
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
