@use '../../../../../../shared/stylesheets/tokens' as *;

.magneto-ui-field-area {
  margin: 0;
  padding: 0;
  min-height: $scale-rem-4xl;
  border: none;
  flex: 1;
  font-weight: $weight-normal;
  font-size: $text-md-2;
  color: $color-grey-900;
  resize: vertical;
  field-sizing: content;
  &:focus-visible,
  &:focus {
    outline: none;
  }
  &::placeholder {
    font-weight: $weight-normal;
    font-size: $text-md-2;
    color: $color-grey-500;
  }
  &::-webkit-scrollbar {
    width: 10px;
    &-thumb {
      cursor: default;
      background: transparent;
      border: none;
      border-color: transparent;
      border-radius: 20px;
      background: $color-grey-400;
    }
  }
}

.magneto-ui-field-area-wrapper {
  background-color: $color-grey-50;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: calc(2px / $scale-px-base) * 1rem;
  min-height: calc($scale-rem-5xl - 2px);
  border-radius: $radius-sm;
  padding: $padding-sm;
  border: solid 1px $color-grey-200;
  cursor: text;
  transition: all ease-in-out 0.3s;
  + [data-slot='field-list'] {
    display: none;
  }
  &--error {
    border-color: $color-red-200;
  }
  &--disabled {
    color: $color-grey-400;
    background-color: $color-grey-100;
    cursor: not-allowed;
    > .magneto-ui-field-area {
      cursor: not-allowed;
    }
  }
  &--readonly {
    cursor: not-allowed;
    > .magneto-ui-field-area {
      cursor: not-allowed;
    }
  }
}
