@use '../../../../../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-nav-menu-analyst-region-modal-content {
  &__container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @media screen and (min-width: v.$screen-md) {
      grid-template-columns: repeat(4, minmax(120px, 1fr));
    }
  }
  &__option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #1f2329;
  }
  &__flag {
    border-radius: 2px;
    width: 21px;
    height: 14px;
  }
  &__footer {
    margin-top: auto;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @media screen and (min-width: v.$screen-md) {
      justify-content: flex-end;
      gap: 10px;
      margin-inline: 30px;
      padding-top: 20px;
      padding-bottom: 30px;
      border-top: 1px solid #e3e7e9;
    }
  }
  &__button {
    border-radius: 0;
    padding: 12px 25px;
    &--cancel {
      background-color: #f0f1f3;
      flex: 1;
      > img {
        width: 20px;
        aspect-ratio: 1 / 1;
      }
    }
    &--apply {
      background-color: #6dd695;
      flex: 10;
    }
    @media screen and (min-width: v.$screen-md) {
      flex-grow: unset;
      border-radius: 30px;
      &--cancel {
        flex: 0;
      }
      &--apply {
        flex: 0;
      }
    }
  }
}
