@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-alert {
  display: flex;
  gap: 0.75rem;
  padding: 1.25rem;
  border-radius: 0.75rem;
  align-items: center;
  p {
    margin: 0;
  }

  &--expanded {
    align-items: flex-start;
  }
}
.magneto-ui-warning {
  background-color: v.$alert-color-yellowBackground;
  &--with-border {
    border: 1px solid v.$alert-color-yellow;
  }
}
.magneto-ui-success {
  background-color: v.$alert-color-greenBackground;
  &--with-border {
    border: 1px solid v.$alert-color-green;
  }
}
.magneto-ui-error {
  background-color: v.$alert-color-redBackground;
  &--with-border {
    border: 1px solid v.$alert-color-red;
  }
}
.magneto-ui-info {
  background-color: v.$alert-color-blueBackground;
  &--with-border {
    border: 1px solid v.$alert-color-blue;
  }
}

.magneto-ui-info-expanded {
  background-color: v.$alert-color-blueBackground;
  &--with-border {
    border: 1px solid v.$alert-color-blue;
  }
}

.magneto-ui-alert-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.magneto-ui-close-action {
  background: none;
  border: none;
  flex-shrink: 0;
  > img {
    width: 10px;
  }
}
