@use '../../../../../../shared/stylesheets/tokens' as *;

.magneto-ui-toggle-switch {
  position: relative;
  height: $scale-rem-lg;
  width: calc(26px / $scale-px-base) * 1rem;
  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    &:disabled {
      cursor: not-allowed;
    }
  }
  &__track {
    border-radius: $radius-md;
    background-color: $color-grey-400;
    width: 100%;
    height: 100%;
    transition: backround 0.3s ease-in-out;
    &-slider {
      position: absolute;
      top: 50%;
      left: calc(1px / $scale-px-base) * 1rem;
      transform: translateY(-50%);
      display: flex;
      height: $scale-rem-md-2;
      aspect-ratio: 1 / 1;
      border-radius: $radius-full;
      background-color: $color-grey-50;
      transition: transform 0.3s ease-in-out;
    }
  }
  &:has(&__input:checked) {
    .magneto-ui-toggle-switch__track {
      background-color: $color-green-600;
    }
    .magneto-ui-toggle-switch__track-slider {
      transform: translateY(-50%) translateX(calc(100% - calc(4px / $scale-px-base) * 1rem));
    }
  }
  &:has(&__input:disabled) {
    .magneto-ui-toggle-switch__track {
      opacity: $opacity-50;
      cursor: not-allowed;
    }
  }
}
