@use '../../../../shared/stylesheets/variables.scss' as variables;

.magneto-ui-tab-item {
  height: auto;
  flex-shrink: 0;
  min-width: 70px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  background: #fff;
  padding: 10px 16px;
  border-radius: 4px;
  border: 1px solid variables.$selected-color-gray;
  color: variables.$colors-magneto-neutral-gray-900;

  &[aria-selected='true'] {
    background: variables.$selected-color-gray;
  }

  &[aria-disabled='true'] {
    cursor: default;
    color: variables.$colors-magneto-neutral-gray-400;
  }
}
