@use '../../../../shared/stylesheets/variables.scss' as v;

.breadcrumbComponent {
  display: flex;
  align-items: center;

  p {
    align-items: center;
    color: v.$text-color-disable;
    font-style: normal;
    font-size: 12px;
    line-height: 13px;
    margin: 0 5px 0 0;
    transition: all ease-in-out 0.3s;
    text-transform: lowercase;

    &::first-letter {
      text-transform: capitalize;
    }
    &:hover {
      color: v.$color-blue-hover;
      opacity: 0.7;
    }
  }
}

.magneto-ui-bc {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.magneto-ui-bc-active {
  font-weight: bold;
  pointer-events: none;
}
