.select-input {
  & > div {
    & > div {
      box-sizing: border-box;
    }
  }

  &--disabled {
    & > div {
      & > div {
        background: #f0f1f3;
      }
    }
  }

  &--no-placeholder {
    input {
      margin-top: 4px;
    }
  }

  &--with-icon {
    input {
      padding-right: 40px !important;
      text-overflow: ellipsis;
    }
  }

  &,
  & input {
    box-sizing: border-box;
    cursor: default;
    &:focus {
      cursor: text;
    }
  }
}

.select-button {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #cfcfde;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  &--disabled {
    background: #f0f1f3;
  }

  &__input {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  &__placeholder {
    color: #a3a3b5;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &--open {
      color: #0a0c0e;
    }

    &--selected {
      color: #a3a3b5;
    }
  }

  &__value {
    color: #0a0c0e;
  }
}
