@use '../../../../../../shared/stylesheets/tokens' as tokens;

.action {
  border: none;
  display: flex;
  align-items: center;
  gap: tokens.$gap-xs;
  text-decoration: none;
  background: transparent;
  font-size: tokens.$text-md-2;
  border-radius: tokens.$radius-lg;
  padding: tokens.$padding-sm tokens.$padding-sm-2;
  &:hover {
    cursor: default;
    transition: background 400ms;
    background: tokens.$color-grey-200;
  }
  &:is(a) {
    &:hover {
      cursor: pointer;
    }
  }

  &--rounded {
    border-radius: tokens.$radius-full;
  }

  &--grey {
    background: tokens.$color-grey-200;
    &:hover {
      background: tokens.$color-grey-300;
    }
  }
}
