@use '../../../../../../shared/stylesheets/variables.scss' as v;

.navigationCarMenu {
  &__menu {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    width: 100%;
    text-align: center;
    overflow-y: auto;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  }
  &__menuActive {
    max-height: 150px;
    opacity: 1;
    &--option {
      display: flex;
      align-items: center;
      padding: 5px 15px 0 15px;
      gap: 10px;
    }
    &--icon {
      background-color: v.$color-gray-background;
      border-radius: 100%;
      padding: 2px;
    }
  }
}
