.job-locked-alert {
  margin: 0px 20px;
  color: #292f37;
}

.job-footer-card {
  > div div:first-child {
    flex-direction: column;
    align-items: center;
    button {
      width: 233px;
      height: 48px;
    }
  }
  > :nth-child(2) {
    width: 100%;
    align-items: center;
    p {
      font-size: 12px;
      min-width: 62px;
    }
    > :nth-child(2) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}

.job-actions-card {
  align-items: center;
  > div:first-child {
    flex-direction: column;
    align-items: center;
    align-self: center;
  }
  > :nth-child(2) {
    justify-content: center;
    font-size: 12px;
    img {
      width: 14px !important;
    }
    button {
      padding: 12px 10px;
    }
    span {
      font-size: 12px !important;
    }
    p {
      font-size: 12px !important;
    }
    > :nth-child(2) {
      width: 91px !important;
    }
  }
}

.job-actions-card {
  .external-buttons.external-buttons button {
    width: 233px;
    height: 48px;
    justify-content: center;
    align-items: center;
  }
}

.CompletionAlertWrapper {
  padding: 16px 20px;
  margin: 10px 0;
}
