.magneto-ui-popover-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
  .magneto-ui-popover {
    background-color: white;
    height: auto;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.106);
    border-radius: 12px;
    position: absolute;

    z-index: 12;
    padding: 15px;
    transition: all 0.2s ease-in-out;
  }
  .magneto-ui-popover-children {
    display: inline;
  }
}

.left {
  right: 0%;
}

.right {
  left: 0%;
}

.center {
  left: 50%;
  transform: translateX(-50%);
}

.top {
  bottom: 100%;
}

.bottom {
  top: 100%;
}

.show {
  // display: block;
  opacity: 1;
  margin-top: 10px;
}
.hidden {
  opacity: 0;
  // display: none;
  margin-top: 0;
}
