@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-btn-menu {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.magneto-ui-btn-text {
  font-size: 14px;
  color: v.$text-color-black;
  margin: 0;
  margin-right: 1rem;
  @media screen and (max-width: v.$screen-xxs) {
    font-size: 12px;
  }
}

.disabled {
  cursor: not-allowed;
}
