@use '../../../../../../shared/stylesheets/tokens' as *;

.magneto-ui-field-list {
  margin: 0;
  padding: $padding-sm;
  max-height: calc(228px / $scale-px-base) * 1rem;
  overflow-y: auto;
  list-style: none;
  width: $scale-full;
  display: flex;
  flex-direction: column;
  gap: $gap-sm-2;
  background-color: $color-grey-50;
  transition: all ease-in-out 0.3s;
  &::-webkit-scrollbar {
    background: $color-grey-100;
    width: 10px;
    &-thumb {
      background: transparent;
      border: none;
      border-color: transparent;
      border-radius: 20px;
      background: $color-grey-300;
    }
    &-button {
      &:vertical {
        &:start:decrement {
          background: transparent var(--custom-scrollbar-thumb-up-background) no-repeat center center;
          min-height: 16px;
        }

        &:end:increment {
          background: transparent var(--custom-scrollbar-thumb-down-background) no-repeat center center;
          min-height: 16px;
        }
      }
    }
  }
  &--desktop {
    position: absolute;
    z-index: 20;
    top: $scale-full;
    left: 0;
    border-left: solid 1px $color-grey-200;
    border-right: solid 1px $color-grey-200;
    border-bottom: solid 1px $color-grey-200;
    border-bottom-left-radius: $radius-sm;
    border-bottom-right-radius: $radius-sm;
  }
  &--hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  &--visible {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
