@use '../../../../../../shared/stylesheets/tokens' as *;

.magneto-ui-field-list {
  margin: 0;
  padding: 0;
  width: $scale-full;
  display: flex;
  flex-direction: column;
  gap: $gap-md;
  background-color: $color-grey-50;
  transition: all ease-in-out 0.3s;
  position: relative;
  &--desktop {
    max-height: calc(228px / $scale-px-base) * 1rem;
    position: absolute;
    z-index: 20;
    top: $scale-full;
    left: 0;
    border-bottom-left-radius: $radius-sm;
    border-bottom-right-radius: $radius-sm;
  }
  &--error {
    border-left: solid 1px $color-red-200;
    border-right: solid 1px $color-red-200;
    border-bottom: solid 1px $color-red-200;
    box-shadow: none;
  }
  &--hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  &--visible {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.magneto-ui-field-list-shadow {
  position: absolute;
  pointer-events: none;
  box-shadow: 0px 0px 12px 0px rgba($color-grey-600, $opacity-12);
  bottom: 0;
  left: 0;
  background-color: transparent;
  border: none;
  border-radius: $radius-sm;
  transition: opacity ease-in-out 0.3s;
  &--hidden {
    opacity: 0;
    visibility: hidden;
  }
  &--visible {
    opacity: 1;
    visibility: visible;
  }
}
