@use '../../../../../../shared/stylesheets/tokens' as *;

.magneto-ui-field-list {
  margin: 0;
  padding: 0;
  width: $scale-full;
  display: flex;
  flex-direction: column;
  gap: $gap-md;
  background-color: $color-grey-50;
  transition: all ease-in-out 0.3s;
  &--desktop {
    max-height: calc(228px / $scale-px-base) * 1rem;
    position: absolute;
    z-index: 20;
    top: $scale-full;
    left: 0;
    border-left: solid 1px $color-grey-200;
    border-right: solid 1px $color-grey-200;
    border-bottom: solid 1px $color-grey-200;
    border-bottom-left-radius: $radius-sm;
    border-bottom-right-radius: $radius-sm;
  }
  &--hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  &--visible {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
