@use '../../../../shared/stylesheets/variables.scss' as var;

$font-size: 18px;

.date-input {
  border-radius: 10px;
  border: 1px solid var.$colors-magneto-neutral-gray-5;
  background-color: var.$color-white;
  display: flex;
  justify-content: center;
  padding: 19px 0;
  position: relative;

  &__input {
    border: none;
    font-size: $font-size;
    &:hover,
    &:focus-visible {
      outline: none;
    }
    &::placeholder {
      color: #a3a3b5;
    }
  }

  &__separator {
    font-size: $font-size;
    cursor: default;
    margin: 0;
    color: #a3a3b5;
  }

  &__separator--filled {
    color: var.$text-color-black;
  }

  &--fit {
    width: fit-content;
  }

  &--error {
    border-color: var.$alert-color-red;
  }

  &__left,
  &__right {
    flex: 1;
    min-width: 16px;
  }
}
