.magneto-ui-timeline-event {
  display: flex;
  gap: 10px;
  background: none;
  border: none;
  text-align: left;
  border-radius: 7px;
  width: 100%;
  transition: background-color ease-in-out 0.3s;
  padding-bottom: 9px;
  &:hover {
    background-color: #f0f1f3;
    cursor: pointer;
  }
  &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &--bar {
      height: 2px;
      margin-bottom: 20px;
      transform: rotate(90deg);
    }
    &--icon {
      margin-bottom: 11px;
      width: 20px;
      height: 20px;
      z-index: 1;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      margin: 0;
    }
    &--title {
      font-weight: 400;
      font-size: 12px;
      color: #667688;
      &-checked,
      &-current,
      &-blocked {
        padding-top: 11px;
      }
      &-blocked {
        color: #a3adb8;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    &--subtitle {
      color: #0a0c0e;
      font-size: 15px;
      font-weight: 400;
      &-current {
        color: #1a324c;
        font-weight: 900;
      }
      &-blocked {
        color: #8591a0;
      }
    }
  }
}
.checked {
  width: 36px;
  background-color: #6dd695;
}
.current,
.blocked {
  width: 36px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.06);
}
