@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-empty-result {
  border: 1px solid #e3e3e3;
  border-radius: 20px;
  max-width: 95%;
  min-height: 300px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 30px;
  position: relative;

  h2 {
    align-items: center;
    font-size: 16px;
    overflow: hidden;
    @media (min-width: v.$screen-md) {
      font-size: 20px;
    }
  }
  p {
    font-size: 16px;
    text-align: justify;
  }
  @media (min-width: v.$screen-lg) {
    width: 85%;
  }
  @media (min-width: v.$screen-xxl) {
    width: 50%;
  }
  &__img-container {
    display: none;
    @media (min-width: v.$screen-lg) {
      width: 350px;
      display: block;
    }
    @media (min-width: v.$screen-xl) {
      width: 250px;
      display: block;
    }
    &--img {
      position: absolute;
      bottom: 0;
    }
  }

  &__info {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    @media (min-width: v.$screen-md) {
      margin-left: 25px;
    }
    &--search {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 20ch;
      margin-bottom: -7px;
    }
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
  }

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
