@use '../../../../shared/stylesheets/variables.scss' as v;

.JobsActionsComponent {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 30px;

  .ActionsIconWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    > button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 37px;
      height: 37px;
      padding: 0px;
      border: none;
      background-color: transparent;
    }
  }

  .IconWrapper {
    display: inherit;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
  }

  > button {
    height: 44px;
    padding: 12px 40px;
    background-color: v.$color-blue;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: v.$color-white;
  }
}
