@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-job-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;

  &__button-wrapper {
    button {
      height: 44px;
      padding: 12px 40px;
      background-color: v.$color-blue-primary;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      color: v.$color-white;
    }
  }

  &__buttons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  &__icon-wrapper {
    border-radius: 50%;
    @media (width >= 1024px) {
      &:hover {
        background-color: v.$colors-magneto-neutral-gray-5;
        transition: all ease-in-out 0.3s;
      }
    }
  }

  &__icon-anchor {
    display: inherit;
    justify-content: center;
    align-items: center;
    padding: 12px 13px;
  }

  @media screen and (max-width: (v.$screen-xl + 80px)) {
    gap: 20px;
  }

  @media screen and (max-width: (v.$screen-hd + 74px)) {
    gap: 8px;
  }
}

#magneto-ui__external-child {
  button {
    height: 44px;
    padding: 12px 40px;
    border: none;
    border-radius: 30px;
    background-color: #001b38;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: v.$color-white;
  }

  button:hover {
    background: v.$color-blue-hover;
    color: v.$color-white;
  }
}
