.magneto-ui-brands-container {
  background-color: #fff;

  white-space: nowrap;
  height: auto;
  display: inline-block;
  position: relative;
  width: min-content;

  // overflow-x: auto;
  // & > * {
  //   display: inline-block;
  //   width: 900px;
  // }

  // &::-webkit-scrollbar {
  //   height: 7px;
  //   border-radius: 15px;

  //   &-track {
  //     background-color: rgb(241, 241, 241);
  //     border-radius: 15px;
  //   }

  //   &-thumb {
  //     border-radius: 15px;
  //     background-color: rgb(163, 163, 163);
  //     &:hover {
  //       background-color: rgb(126, 126, 126);
  //     }
  //   }
  // }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 16px;
      color: #14141c;
      right: 6px;
      font-weight: bold;
    }
    button {
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  &__brands {
    display: flex;
    align-items: center;
    gap: 10px;
    &--brand {
      transition: all ease-in-out 0.3s;
      padding: 10px;
      border-radius: 15px;
      &:hover {
        background-color: rgb(250, 250, 250);
        transform: scale(1.02);
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 115px;
        height: 41px;
        object-fit: contain;
      }

      p {
        font-size: 14px;
        color: #14141c;
      }
    }
  }
}
