@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-brands {
  @media (min-width: v.$screen-lg) {
    // padding: 15px;
  }
  &__header {
    &--row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      p {
        font-size: 16px;
        color: #14141c;
        right: 6px;
        font-weight: bold;
      }
      button {
        right: 0;
        background: none;
        border: none;
        cursor: pointer;
        display: none;
        @media (min-width: v.$screen-lg) {
          display: block;
        }
      }
    }
  }

  &-container {
    min-width: max-content;
    height: auto;
    background-color: #fff;
    white-space: nowrap;
    display: inline-block;
    position: relative;

    &__brands {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      max-width: 99.9vw;
      padding: 0 15px;

      @media (min-width: v.$screen-md) {
        gap: 10px;
      }

      &--brand {
        transition: all ease-in-out 0.3s;
        padding: 10px;
        border-radius: 15px;
        border: 1px solid rgb(234, 234, 234);
        margin-bottom: 10px;

        @media (min-width: v.$screen-md) {
          border: none;
        }

        &:hover {
          background-color: v.$disabled-color-gray;
          transform: scale(0.96);
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
          width: 100px;
          height: 26px;
          object-fit: contain;
          @media (min-width: v.$screen-xxs) {
            width: 110px;
            height: 36px;
          }
        }

        p {
          display: none;
          @media (min-width: v.$screen-xxs) {
            display: block;
            font-size: 14px;
            color: #656565;
          }
        }
      }
    }
  }
}
