.magneto-ui-card-jobs {
  display: flex;
  align-items: center;
  padding: 32px 20px;
  min-height: 127px;
  width: 100%;
  gap: 30px;
  border-radius: 13px;
  position: relative;
  transition: all ease-in-out 0.3s;
  container-type: inline-size;

  &:hover {
    background-color: #f4f4fa;
    cursor: pointer;

    p {
      color: #14141c;
    }
  }

  &:hover &--arrow {
    opacity: 1;
    right: 4px;
  }

  &--data {
    grid-template-columns: repeat(1, 1fr);

    @container (min-width: 600px) {
      display: grid;
      padding-right: 30px;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }

  p,
  h2,
  h3 {
    font-size: 14px;
    color: #14141c;
    margin: 0;
  }

  &--row1,
  &--row2,
  &--row3,
  &--row4 {
    display: flex;

    // @container (max-width: 1000px) {
    //   min-height: 35px;
    // }
  }

  &--row1 {
    align-items: center;
    width: 67px;
    height: 67px;
  }

  &--row2 {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @container (min-width: 1270px) {
      width: 700px;
      gap: 10px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: left;
      align-items: center;
    }

    a {
      text-decoration: none;
    }

    h2,
    h3 {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p {
      margin: 0;
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: none;

      @container (min-width: 600px) {
        display: block;
      }
    }

    &__position {
      font-weight: bold;
    }

    &__variant {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &--row3 {
    justify-content: left;
    gap: 50px;

    &__info1 {
      display: flex;
      align-items: center;
    }

    p {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0;
    }

    &__info2 {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  &--row4 {
    align-items: center;
    flex-wrap: wrap;
    padding-right: 30px;
    min-width: 267px;

    p {
      margin: 0;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      @container (min-width: 800px) {
        -webkit-line-clamp: 3;
      }
    }
  }

  &--brand {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    &__img {
      width: 67px;
      height: 67px;
      background-color: white;
      object-fit: contain;
      padding: 5px;
    }
  }

  &--arrow {
    transition: all 0.3s ease-in-out;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 34px;
    position: absolute;
    right: 15px;
  }
}

.was-seen {
  p {
    color: #63637e;
    font-weight: normal;
  }
}

.is-active {
  background-color: #e9e9f6;

  &:hover .magneto-ui-card-jobs--row2__position {
    color: #000096;
  }

  &:hover {
    background-color: #e9e9f6;
  }

  p {
    color: #14141c;
  }

  .magneto-ui-card-jobs {
    &--arrow {
      opacity: 1;
      right: 4px;
    }

    &--row2__position {
      font-weight: bold;
      color: #000096;
    }
  }
}
