@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-card-jobs {
  display: flex;
  align-items: center;
  padding: 20px;
  min-height: 127px;
  width: 100%;
  gap: 30px;
  position: relative;
  transition: all ease-in-out 0.3s;
  container-type: inline-size;

  &--urgent {
    border-left: solid 6px #faad14;
  }

  &__container:hover,
  &--job-open {
    background-color: #e0e4e7;
    cursor: pointer;
  }

  &__container {
    display: table;
    width: 100%;
    position: relative;
  }

  &__render-right {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    top: 9px;
    right: 0;
  }

  &__options {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;
  }

  &__data {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__button {
    border: none;
    background: transparent;
    &:focus-visible {
      outline: none;
    }
  }

  &__white-space {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__header {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
  }

  &__arrow {
    transform: rotateZ(180deg);
    filter: invert(76%) sepia(21%) saturate(155%) hue-rotate(171deg) brightness(88%) contrast(87%);
    @media screen and (max-width: v.$screen-md) {
      display: none;
    }
  }

  &__container:hover &__arrow,
  &--job-open &__arrow {
    filter: unset;
  }

  &__text {
    font-size: 14px;
    color: #292f37;
    font-weight: 400;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 25ch;
    font-size: 12px;
    text-wrap: nowrap;
    @media screen and (min-width: v.$screen-sm) {
      font-size: 14px;
      max-width: 60ch;
    }
    @media screen and (max-width: v.$screen-xl) {
      max-width: 40ch;
      font-size: 14px;
    }
    &--bold {
      font-weight: 700;
    }
    &--big {
      max-width: 100ch;
      font-size: 16px;
      @media screen and (max-width: v.$screen-md) {
        max-width: 15ch;
        font-size: 14px;
      }
      @media screen and (max-width: v.$screen-xl) {
        max-width: 40ch;
        font-size: 14px;
      }
    }
    &--small {
      font-size: 12px;
      @media screen and (max-width: v.$screen-md) {
        font-size: 10px;
      }
    }
    &--is-seen {
      color: #667688;
    }
  }

  &__published {
    text-wrap: nowrap;
  }

  &__urgent {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__urgent-icon {
    filter: invert(79%) sepia(9%) saturate(6576%) hue-rotate(347deg) brightness(98%) contrast(99%);
  }

  &__a {
    color: inherit;
    text-decoration: none;
    text-wrap: auto;
    overflow-wrap: anywhere;
  }

  &__company {
    font-weight: 400;
  }

  &__brand {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    &-img {
      min-width: 67px;
      height: 67px;
      background-color: white;
      object-fit: contain;
      padding: 5px;
    }
  }
}
