@use '../../../../shared/stylesheets/variables.scss' as v;

.avatarComponent {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 12;

  img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
  }
}

.magneto-ui-default-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: v.$color-green;
  img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
  }
}
