@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-btn-menu {
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
  background-color: #f0f1f3;
  height: 100%;
  border-radius: 8px 0px 0px 8px;
  border: none;
  cursor: pointer;
}

.magneto-ui-btn-text {
  font-size: 14px;
  color: v.$text-color-black;
  margin: 0;
  margin-right: 0.5rem;
  @media screen and (max-width: v.$screen-xxs) {
    font-size: 12px;
  }
}

.disabled {
  cursor: not-allowed;
}

.magneto-ui-sort-menu-container {
  height: 100%;
}
