@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  width: 100%;
  object-fit: contain;
  background-color: white;
  box-shadow: 0 3px 6px rgba(64, 64, 64, 0.206);
}

.magneto-ui-section-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: auto;
}

.magneto-ui-btn-text {
  font-size: 14px;
  color: v.$text-color-black;
  width: 100%;
  margin: 0;
}

.magneto-ui-btn-menu {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.magneto-ui-section-menu {
  display: flex;
  align-items: center;
}

.magneto-ui-btn-order {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hidden {
  @media screen and (max-width: v.$screen-md) {
    display: none;
  }
}
