.magneto-ui-candidate-profile__basic {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;

    &-section {
        padding-top: 6px;
    }

    &-item {
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding: 5px 0px;
        align-items: center;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
    }

    &-icon {
        width: 15px;
        height: 15px;
    }
}