@use '../../../../shared/stylesheets/variables.scss' as v;
@use '../../../../shared/stylesheets/tokens' as *;

.magneto-ui-save-button {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  padding: $padding-sm-2 $padding-md;
  cursor: pointer;

  &__mobile-text {
    margin: 0px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: v.$text-color-black;
  }

  &.hover-effect {
    &:hover {
      background-color: v.$colors-magneto-neutral-gray-5;
      transition: all ease-in-out 0.3s;
      transform: scale(1.001);
    }
  }
  &.detailed-variant {
    border-radius: $radius-3xl;
    p {
      color: v.$text-color-gray;
    }
    &:hover {
      background-color: $color-grey-100;
    }
  }

  .button-content {
    display: flex;
    align-items: baseline;
    gap: $gap-sm;
  }
}
