@use '../../../../shared/stylesheets/variables.scss' as v;

.LogoutHeaderComponent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 113px;
  padding: 5px 20px;
  background-color: v.$color-white;
  border-bottom: 1px solid v.$color-tertiary-gray;

  .magneto-ui-first-row {
    display: inherit;
    margin: 5px 0px;
  }

  .magneto-ui-second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .magneto-ui-left-section {
      display: inherit;
      gap: 20px;

      button {
        padding: 0px;
      }
    }

    .magneto-ui-middle-section {
      display: inherit;
      width: 40%;
      @media (min-width: v.$screen-xl) {
        width: 50%;
      }
    }

    .magneto-ui-right-section {
      display: inherit;
      gap: 18px;
    }
  }

  .magneto-ui-third-row {
    display: inherit;
    flex-direction: row;
    margin: 5px 0px;
  }

  @media screen and (max-width: (v.$screen-lg - 1)) {
    .magneto-ui-first-row {
      margin: 0px;
    }

    .magneto-ui-third-row {
      margin: 0px;
    }
  }
}
