@use '../../../../shared/stylesheets/variables.scss' as v;

.LogoutHeaderComponent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
  background-color: v.$color-white;
  border-bottom: 1px solid v.$color-tertiary-gray;
  height: 60px;
  @media (min-width: v.$screen-md) {
    padding: 5px 20px;
  }
  @media (min-width: v.$screen-lg) {
    height: 113px;
  }

  .magneto-ui-first-row {
    display: inherit;
    margin: 5px 0px;
  }

  .magneto-ui-second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .magneto-ui-left-section {
      display: inherit;
      gap: 10px;

      button {
        padding: 0px;
      }

      @media (min-width: v.$screen-md) {
        gap: 20px;
      }
    }

    .magneto-ui-middle-section {
      display: inherit;
      display: flex;
      align-items: center;
      width: 45%;
      @media (min-width: v.$screen-xl) {
        width: 50%;
      }
      a {
        display: none;
        width: 250px;
        background-color: transparent;
        margin-left: 15px;
        @media (min-width: v.$screen-lg) {
          display: flex;
          align-items: center;
        }
      }
    }

    .magneto-ui-right-section {
      display: inherit;
      gap: 5px;
      @media (min-width: v.$screen-xs) {
        gap: 18px;
      }
    }
  }

  .magneto-ui-third-row {
    display: inherit;
    flex-direction: row;
    margin: 5px 0px;
  }

  @media screen and (max-width: (v.$screen-lg - 1)) {
    .magneto-ui-first-row {
      margin: 0px;
    }

    .magneto-ui-third-row {
      margin: 0px;
    }
  }
}
