@use '../../../../shared/stylesheets/variables.scss' as v;

.LoginHeaderComponent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 5px 20px;
  background-color: v.$color-white;
  border-bottom: 1px solid v.$color-tertiary-gray;
  height: 60px;
  @media (min-width: v.$screen-lg) {
    height: 89px;
  }

  .magneto-ui-first-row {
    display: inherit;
  }

  .magneto-ui-second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 5px 0px;

    .magneto-ui-left-section {
      display: inherit;
      gap: 20px;

      button {
        padding: 0px;
      }
    }

    .magneto-ui-searchbar-section {
      display: inherit;

      @media (min-width: v.$screen-xxl) {
        width: 40%;
      }
    }

    .magneto-ui-user-section {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
    }
  }

  .magneto-ui-third-row {
    display: inherit;
    flex-direction: row;
    margin: 5px 0px;
  }

  @media screen and (max-width: (v.$screen-xl - 1)) {
    .magneto-ui-second-row {
      .magneto-ui-searchbar-section {
        display: inherit;
        width: 50%;
      }
    }
  }

  @media screen and (max-width: (v.$screen-lg - 1)) {
    .magneto-ui-third-row {
      margin: 0px;
    }
  }
}
