@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-jobs-page {
  display: flex;
  justify-content: center;

  &--column {
    flex-direction: column;
  }

  &--row-content {
    display: flex;
    flex-direction: row;
  }

  &--filter-row {
    width: 320px;

    @media (max-width: v.$screen-md) {
      width: auto;
    }
  }

  &--center-row {
    width: 100%;

    &__jobs-result {
      display: flex;
      padding: 0 0 20px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2px;
    }
  }

  &--drawer {
    > aside {
      width: 100% !important;
    }
  }
}

.magneto-ui-jobs-page--title {
  display: none;
  font-size: 22px;
  font-weight: 500;
  color: v.$text-color-black;
  padding-left: 20px;
  margin-top: 40px;
  word-break: break-word;
  box-sizing: border-box;
  @media (max-width: v.$screen-md) {
    display: block;
    font-size: 18px;
  }
}
