@use '../../../../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-faqs--link {
  background: transparent;
  padding: 12px 4px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  color: #47535f;
  font-size: 14px;
  text-decoration: none;
  align-items: center;
  border-radius: 8px;
  width: 100%;

  &:hover {
    background-color: v.$color-white;
  }
}

.magneto-ui-faqs--buttonLink {
  background: v.$color-white;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  color: #0a0c0e;
  font-size: 14px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 700;
  margin-top: 20px;
}
