@use '../../../../shared/stylesheets/tokens' as tokens;

.job {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: tokens.$gap-sm-2;
  &__header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: tokens.$color-grey-50;
    z-index: 1;

    @media screen and (max-width: tokens.$screen-sm) {
      position: static;
    }
  }

  &__separator {
    border-top: tokens.$border-1 solid tokens.$color-grey-200;
    color: tokens.$color-grey-200;
    width: 100%;
    margin: 0;
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: tokens.$gap-xl;
    padding: tokens.$padding-xl tokens.$padding-xl tokens.$padding-min;
  }
}
