@use '../../../../shared/stylesheets/variables.scss' as var;
@use '../../../../shared/stylesheets/tokens' as *;

.popover {
  > :first-child {
    overflow: visible !important;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -5px;
      left: 18px;
      width: 10px;
      height: 10px;
      border-top-right-radius: 5px;
      background: var.$color-white;
      z-index: -1;
      transform: rotate(-45deg);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.106);
    }
  }

  &--hidden {
    > :first-child {
      z-index: -1;
    }
  }
  &--hover {
    transition: all ease-in-out 0.3s;
    transform: scale(1.001);
  }

  &__btn {
    background: transparent;
    border: none;
    border-radius: $radius-full;
    padding: $padding-sm-2 $padding-md;
    cursor: pointer;
    display: flex;
    align-items: baseline;
    gap: $gap-sm;
    &:focus-visible {
      outline: none;
    }
    &:hover {
      background-color: #cfcfde;
      transition: all ease-in-out 0.3s;
    }
    &.detailed-variant {
      color: var.$text-color-gray;
      border-radius: $radius-3xl;
      &:hover {
        background-color: $color-grey-100;
        color: $color-grey-800;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

.content {
  list-style: none;
  padding: 10px;
  margin: 0;
  background: var.$color-white;
  min-width: 230px;

  &__link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    text-decoration: none;
    color: var.$text-color-black;
  }

  &__share:hover,
  &__link:hover {
    background: var.$color-gray-background;
    transition: background-color ease-in-out 0.3s;
    color: var.$text-color-black;
    border-radius: 5px;
  }
}
