@use '../../../../shared/stylesheets/variables.scss' as v;

.mega-menu-main-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  gap: 20px;
  margin: 0px;
  padding: 14px 14px 14px 16px;
  justify-content: space-between;

  @media (max-width: v.$screen-md) {
    gap: 5px;
    padding: 15px 12px;
  }
  &__country {
    min-width: 190px;
    flex: 0 1 220px;
  }

  &__main {
    display: flex;
    gap: 8px;
    flex: 5;
    justify-content: space-between;
    align-items: center;
    @media (max-width: v.$screen-md) {
      justify-content: flex-start;
      margin-right: 0px;
    }
  }
  &__menu {
    padding: 0px;
  }
  &__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    &-button {
      padding: 0px !important;
    }
    @media (max-width: v.$screen-md) {
      width: max-content;
    }
  }

  &__login {
    display: flex;
    flex-direction: row;
    flex: 2;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    > a {
      text-decoration: none;
    }
  }
}
