@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-metadata-card-image {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-top: 10px;
  &__submenu {
    position: absolute;
    top: 5px;
    right: 0;
    background-color: transparent;
    margin: 0;
    pointer-events: all;
    border: none;
    cursor: pointer;
    button {
      border: none;
    }
    &-menu {
      padding: 0;
      height: 8px !important;
      span {
        font-size: 20px;
      }
    }
    &--icon {
      transform: rotate(90deg);
      display: block;
      cursor: pointer;
    }
  }
  &__title {
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 85%;
    font-weight: 600;
    color: #14141c;
  }
  &__author {
    display: flex;
    align-items: center;
    cursor: pointer;
    a {
      color: v.$color-primary-green;
    }
    span {
      margin-right: 5px;
      overflow: hidden;
      color: #63637e;
      text-overflow: ellipsis;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  &__footer {
    justify-content: space-between;
    margin: 7px 0;
    button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      color: #fff;
      min-width: 110px;
      min-height: 30px;
      &.button-borrow {
        padding: 8px 15px 8px 15px;
      }
      p {
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0em;
        width: 100%;
      }
    }
    .button-borrow {
      &:hover {
        background-color: #090467;
      }
    }
  }

  @media screen and (max-width: v.$screen-lg) {
    &__title,
    &__subtitle,
    &__author,
    &__type,
    &__footer button {
      font-size: 12px;
    }
  }
}
