@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-vacant-positions-layout {
  display: flex;
  flex-direction: column;

  &-top-container {
    display: flex;
    flex-direction: column;

    &__back-button {
      display: flex;
      font-size: 18px;
      font-weight: 900;
      line-height: 22px;
      margin-top: 30px;
      cursor: pointer;
    }

    &--description {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
        color: #0a0c0e;
        margin: 0;
      }

      h3 {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        margin: 12px 0 20px;
        color: #0a0c0e;
      }
    }
  }

  &-view-more-container {
    display: flex;
    justify-content: center;
    margin: 63px 0;

    &__button {
      display: flex;
      padding: 13px;
      border-radius: 30px;
      background-color: #1a324c;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      line-height: normal;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
