.magneto-ui-notification-drawer-analyst {
  &__header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    margin-bottom: 24px;
    padding-top: 12px;
    padding-left: 12px;
  }
}
