.magneto-ui-line-record {
  display: flex;
  min-height: 3rem;
  border: 1px solid #e0e4e7;
  border-radius: 15px;
  margin: 2.5rem 5px 5px 15px;
  position: absolute;
  left: -10px;
  width: 2px;
  height: 100%;
}
