@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-job-skills-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 12px;

  h2 {
    color: v.$text-color-black;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.308px;
    margin: 0;
  }

  &__skills-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    gap: 12px;
  }

  @media screen and (max-width: (v.$screen-lg)) {
    h2 {
      font-size: 12px;
    }

    &__skills-wrapper {
      display: inherit;
      flex-direction: column;
    }
  }
}
