@use '../../../../shared/stylesheets/tokens' as t;

.magneto-ui-history-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
  gap: 8px;
  border-radius: 8px;
  overflow: hidden;
  background-color: t.$color-grey-100;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);

  &--edited {
    border-left: 4px solid t.$color-blue-light-400;
  }

  &--deleted {
    border-left: 4px solid t.$color-red-200;
  }

  &__header {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 8px;
    padding: 8px;
    border-radius: 8px;
    background-color: t.$color-grey-60;
    align-items: center;

    @media screen and (max-width: t.$screen-md) {
      grid-template-columns: 1fr;
    }
  }

  &__header-item {
    display: contents;
  }

  &__label {
    color: t.$color-blue-dark-100;
    margin: 0;
    font-size: 14px;
  }

  &__value {
    color: t.$color-grey-900;
    font-weight: 500;
    margin: 0;
    font-size: 14px;
    overflow: auto;
  }

  &__body {
    padding: 0px 8px;
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 16px 8px; // Row gap 16px, Column gap 8px
    align-items: start;

    @media screen and (max-width: t.$screen-md) {
      grid-template-columns: 1fr;
    }
  }

  &__detail-item {
    display: contents;
  }

  &__detail-value {
    font-size: 14px;
    color: t.$color-grey-900;
    margin: 0;
    line-height: 1.5;
    overflow: auto;
  }

  &__divider {
    grid-column: 1 / -1;
    height: 1px;
    background-color: t.$color-grey-50;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 2px;
  }
}
