@use '../../../../shared/stylesheets/tokens/_index' as t;

.magneto-ui-history-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: t.$padding-md;
  gap: t.$gap-sm;
  border-radius: t.$radius-sm;
  overflow: hidden;
  background-color: t.$color-grey-100;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);

  &--created {
    border-left: 4px solid t.$color-blue-light-400;
  }

  &--edited {
    border-left: 4px solid t.$color-blue-light-400;
  }

  &--deleted {
    border-left: 4px solid t.$color-red-200;
  }

  &__header {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: t.$gap-sm;
    padding: t.$padding-sm;
    border-radius: t.$radius-sm;
    background-color: #e0e4e7;
    align-items: center;

    @media screen and (max-width: t.$screen-md) {
      grid-template-columns: 1fr;
    }
  }

  &__header-item {
    display: contents;
  }

  &__label {
    color: t.$color-blue-dark-100;
    margin: 0;
    font-size: 14px;
  }

  &__value {
    color: t.$color-grey-900;
    font-weight: 500;
    margin: 0;
    font-size: 14px;
    overflow: auto;
  }

  &__body {
    padding: 0px t.$padding-sm;
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: t.$gap-lg t.$gap-sm; // Row gap 16px, Column gap 8px
    align-items: start;

    @media screen and (max-width: t.$screen-md) {
      grid-template-columns: 1fr;
    }
  }

  &__detail-item {
    display: contents;
  }

  &__detail-value {
    font-size: 14px;
    color: t.$color-grey-900;
    margin: 0;
    line-height: 1.5;
    overflow: auto;

    &--strikethrough {
      text-decoration: line-through;
    }
  }

  &__divider {
    grid-column: 1 / -1;
    height: 1px;
    background-color: t.$color-grey-50;
    width: 100%;
    margin-top: t.$margin-sm-2;
    margin-bottom: 2px;
  }
}
