.badge-count {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  margin: 0 5px;
  padding: 3px;
  color: white;
  font-size: 10px;
  font-weight: 600;
  width: 17px;
  height: 17px;
  border-radius: 50%;

  &__animation {
    position: absolute;
    top: 1;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 600;
    opacity: 0;
    animation: pulse 1.5s infinite linear both;
  }
  @keyframes pulse {
    20% {
      opacity: 0.4;
    }
    80%,
    100% {
      opacity: 0;
      scale: 1.6;
    }
  }
}
