.option {
  width: 100%;
  display: block;
  padding: 12px 13px;
  border: none;
  background: transparent;

  font-size: 14px;
  font-weight: 400;
  text-wrap: nowrap;
  color: #292f37;

  &:hover {
    background: #f0f1f3;
  }

  &--link {
    display: flex;
    text-decoration: none;
    gap: 10px;
  }

  &--button {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.icon {
  &--big {
    img[data-name='icon'] {
      transform: scale(2);
    }
  }
}
