@use '../../../../shared/stylesheets/variables.scss' as v;

.magneto-ui-job-footer-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 20px 120px 20px;
  gap: 10px;

  > img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  h2 {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: v.$text-color-black;
    margin: 0px;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    gap: 21px;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 8px;

    > a {
      background-color: v.$disabled-color-gray2;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      transition: all ease-in-out 0.3s;
      &:hover {
        background-color: v.$colors-magneto-neutral-gray-5;
      }

      > img {
        width: auto;
      }
    }

    > button {
      width: 36px;
      height: 36px;
      background-color: v.$disabled-color-gray2;
      padding: 0px;
      border: none;
      border-radius: 50%;
      transition: all ease-in-out 0.3s;
      &:hover {
        background-color: v.$colors-magneto-neutral-gray-5;
      }

      > img {
        width: auto;
      }
    }
  }

  @media screen and (max-width: (v.$screen-xl + 80px)) {
    h2 {
      font-size: 12px;
    }

    &__icons {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }
}

.my-custom-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: v.$disabled-color-gray2;
  border-radius: 50%;
  transition: all ease-in-out 0.3s;

  > div {
    padding: 0px;
  }

  &:hover {
    background-color: v.$colors-magneto-neutral-gray-5;
  }
}
